# 연산자

### 산술 연산자
- +, -, *, /(나누기), %(왼쪽 값을 오른쪽 값으로 나눈 나머지를 계산), //(왼쪽 값을 오른쪽 값으로 나눈 몫을 계산), **(지수계산)

In [1]:
print(11+5)
print(8/2)
print(7%4)
print(2*8)
print(8%3)
print(9//3)
print(2**4)

16
4.0
3
16
2
3
16

### 비교 연산자
- 두 피연산자가 같은지 다른지를 비교하는 연산자
- >, <, >=, <=, ==, !=

In [2]:
print(7>4)
print(8<2)
print(7>=7)
print(5<=6)
print(7==7)
print(7!=7)

True
False
True
True
True
False

### 논리 연산자
- 두 피연산자 사이의 논리적인 관계를 정의하는 연산자
- and, or, not

In [4]:
True and False
True or False
not True

False

### 대입 연산자
- =, +=, -=, *=, /=, %=, **=, //=
- 왼쪽의 변수에 ~~하고 그 결과값을 왼쪽의 변수에 대입

### 변수
- 변수는 다양한 값을 지니고 있는 하나의 속성
- 여러 변수가 모여서 데이터가 됨

변수명 생성 규칙
- 변수명은 문자, 숫자, 언더바를 조합해서 생성
- 변수명 첫 글자는 문자나 언더바로 시작
- 대시는 변수명으로 사용할 수 없다

### 자료형 분류
- 기본 자료형
    - 직접 자료를 표현하는 자료형 (숫자형, 논리형)
- 컬렉션 자료형
    - 다수의 데이터를 효과적으로 처리할 수 있는 자료형 (문자형, 리스트형, 튜플형, 딕셔너리형, 세트형)
    - 시퀸스 자료형 : 문자열, 리스트, 튜플
    - 비시퀸스 자료형 : 세트, 딕셔너리

In [8]:
a = [1,2,3,4]

In [9]:
a.append(5) # 리스트 마지막에 값 추가
a

[1, 2, 3, 4, 5]

In [10]:
a.clear() # 리스트 모든 값 삭제
a

[]

In [11]:
a = [1,2,3]
b = a.copy() # 리스트 복사
b

[1, 2, 3]

In [13]:
a.count(2) # 리스트 내 값 개수 표현

1

In [14]:
a.extend(b) # 리스트 마지막에 자료형 추가
a

[1, 2, 3, 1, 2, 3]

In [15]:
a.index(2) # 값 인덱스 표현

1

In [16]:
a.insert(3, '*') # 3 인덱스에 '*' 추가
a

[1, 2, 3, '*', 1, 2, 3]

In [18]:
a.pop() # 리스트 마지막 항목을 삭제하고 꺼내옴
a

[1, 2, 3, '*', 1]

In [19]:
a.remove(1) # 리스트 내에서 값 삭제, 해당하는 값이 여러개 있을 경우 가장 앞에 있는 값 제거

In [20]:
a.reverse() # 역순으로 변환
a

[1, '*', 3, 2]

In [ ]:
a.sort() # 값 정렬

### 튜플형
- 튜플형은 초기에 선언된 값을 생성, 삭제, 수정이 불가능한 형태의 자료형이다.

In [23]:
t = ("a", "b", "c")
type(t)

tuple

In [24]:
a = [1,2,3,4,5,6,7,8]

In [25]:
# 슬라이싱 / 튜플형, 문자열 등 가능
a[1:3]

[2, 3]

In [26]:
# 비 시퀸스 자료형 구조는 순서가 존재하지 않음

In [27]:
# 딕셔너리
a = {'a' : 1, 'b' : 2, 'c' :3}

In [28]:
a['a']

1

In [29]:
# 컬렉션의 크기 계산 함수
len(a)

3

In [36]:
import numpy as np

In [41]:
# 배열은 동이랗ㄴ 유형의 데이터를 저장하는 자료형
d = np.array([[1,2,3], [1,2,3]])
d

array([[1, 2, 3],
       [1, 2, 3]])

In [42]:
import pandas as pd

In [45]:
# 데이터 프레임은 행과 열을 가지는 표 형식의 구조로 숫자, 문자 등 다양한 형식의 데이터 저장이 가능한 자료형
e = pd.DataFrame({'a' : [1,4,5,2,3],
                'b' : [2,3,4,5,1],
                'c' : ['d', 'e', 'c', 'v', 'e']})
e

   a  b  c
0  1  2  d
1  4  3  e
2  5  4  c
3  2  5  v
4  3  1  e

In [47]:
# if 문
a = 50
if a > 20 :
    print('abc')

abc

In [48]:
a = 20
if a > 50 :
    print('big')
elif a > 100 :
    print('superbig')
else :
    print('just not')

just not

In [49]:
# for 문
for i in range(5) :
    print(1)

1
1
1
1
1

In [50]:
a = [1,2,3,4,5]
for i in a :
    print(i)

1
2
3
4
5

In [53]:
# while 문 / 조건이 참일동안 계속해서 반복해서 수행하는 반복문
i = 0
sum = 0
while i < 4 :
    i += 1
    sum += i
print(sum)

10

In [54]:
# 반복 루프 제어 문
# break 문
for i in range(1,7) :
    print(i)
    if i == 3 :
        break

1
2
3

In [56]:
# continue
for i in range(1,4) :
    if i == 1 :
        continue
    print(i)

2
3

In [57]:
# 사용자 정의 함수
def add_func(num_list) :
    print(a[0] + a[1])

In [58]:
add_func([1,2])

3