In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('c:/Users/82108/Desktop/data/P210204-02.csv')

In [3]:
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,8010,F,Ship,6,4,268,4,medium,F,3,1586
1,8011,D,Ship,5,3,238,5,high,M,7,1848
2,8012,F,Ship,5,3,254,6,low,M,7,1064
3,8013,A,Ship,5,3,252,5,low,M,3,1474
4,8014,B,Ship,6,4,254,4,low,M,9,1594
...,...,...,...,...,...,...,...,...,...,...,...
2985,10995,A,Ship,4,1,252,5,medium,F,1,1538
2986,10996,B,Ship,4,1,232,5,medium,F,6,1247
2987,10997,C,Ship,5,4,242,5,low,F,4,1155
2988,10998,F,Ship,5,2,223,6,medium,M,2,1210
2989,10999,D,Ship,2,5,155,5,low,F,6,1639

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder

In [11]:
df1 = pd.read_csv('c:/Users/82108/Desktop/data/P210204-01.csv')
df2 = pd.read_csv('c:/Users/82108/Desktop/data/P210204-02.csv')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8009 entries, 0 to 8008
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   8009 non-null   int64
 1   Warehouse_block      8009 non-null   object
 2   Mode_of_Shipment     8009 non-null   object
 3   Customer_care_calls  8009 non-null   int64
 4   Customer_rating      8009 non-null   int64
 5   Cost_of_the_Product  8009 non-null   int64
 6   Prior_purchases      8009 non-null   int64
 7   Product_importance   8009 non-null   object
 8   Gender               8009 non-null   object
 9   Discount_offered     8009 non-null   int64
 10  Weight_in_gms        8009 non-null   int64
 11  Reached.on.Time_Y.N  8009 non-null   int64
dtypes: int64(8), object(4)
memory usage: 751.0+ KB

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2990 entries, 0 to 2989
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2990 non-null   int64
 1   Warehouse_block      2990 non-null   object
 2   Mode_of_Shipment     2990 non-null   object
 3   Customer_care_calls  2990 non-null   int64
 4   Customer_rating      2990 non-null   int64
 5   Cost_of_the_Product  2990 non-null   int64
 6   Prior_purchases      2990 non-null   int64
 7   Product_importance   2990 non-null   object
 8   Gender               2990 non-null   object
 9   Discount_offered     2990 non-null   int64
 10  Weight_in_gms        2990 non-null   int64
dtypes: int64(7), object(4)
memory usage: 257.1+ KB

In [8]:
df1

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8004,8005,D,Ship,6,4,293,4,low,F,8,1145,1
8005,8006,F,Ship,6,3,247,4,low,F,6,1537,0
8006,8007,A,Ship,6,3,260,5,low,M,8,1324,1
8007,8008,B,Ship,7,1,308,4,medium,M,7,1841,1
8008,8009,C,Ship,6,2,282,4,low,M,1,1857,1

In [12]:
df1['Reached.on.Time_Y.N'] = df1['Reached.on.Time_Y.N'].astype('category')

In [13]:
y = df1['Reached.on.Time_Y.N']
x = df1.drop('Reached.on.Time_Y.N', axis = 1)
x_encoded = pd.get_dummies(x)

In [14]:
x_train, x_valid, y_train, y_valid = train_test_split(x_encoded.drop('ID', axis = 1), y, test_size=0.3)

In [15]:
model = RandomForestClassifier(n_estimators = 300)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=300)

In [16]:
pred = model.predict(x_valid)

In [17]:
matrix = confusion_matrix(y_valid, pred, labels=[1,0])

In [18]:
print(matrix)

[[1154  441]
 [ 295  513]]

In [19]:
test_encoded = pd.get_dummies(df2)

In [23]:
df1

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8004,8005,D,Ship,6,4,293,4,low,F,8,1145,1
8005,8006,F,Ship,6,3,247,4,low,F,6,1537,0
8006,8007,A,Ship,6,3,260,5,low,M,8,1324,1
8007,8008,B,Ship,7,1,308,4,medium,M,7,1841,1
8008,8009,C,Ship,6,2,282,4,low,M,1,1857,1

In [49]:
df1 = pd.read_csv('c:/Users/82108/Desktop/data/P210204-01.csv')
df2 = pd.read_csv('c:/Users/82108/Desktop/data/P210204-02.csv')

In [50]:
df1['Reached.on.Time_Y.N'] = df1['Reached.on.Time_Y.N'].astype('category')

In [51]:
y = df1['Reached.on.Time_Y.N']
x = df1.drop('Reached.on.Time_Y.N', axis = 1)
x_encoded = pd.get_dummies(x)

In [55]:
x_train, x_valid, y_train, y_valid = train_test_split(x_encoded.drop('ID', axis = 1), y, test_size = 0.3)

In [56]:
model = RandomForestClassifier(n_estimators = 300)

In [57]:
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=300)

In [58]:
pred = model.predict(x_valid)

In [62]:
print(roc_auc_score(y_valid, pred))

0.6766547592572001

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [66]:
model = LogisticRegression(random_state = 2000)
model.fit(x_train, y_train)
pred = model.predict_proba(x_valid)
print(roc_auc_score(y_valid, pred[:,1]))

0.7777538394059578

c:\Users\82108\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [71]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
pred = model.predict_proba(x_valid)
print(roc_auc_score(y_valid, pred[:,1]))

0.6423734663997924

In [72]:
model = RandomForestClassifier(n_estimators = 300)
model.fit(x_train, y_train)
pred = model.predict_proba(x_valid)
print(roc_auc_score(y_valid, pred[:,1]))

0.7970663139231747

In [73]:
model = XGBClassifier(random_state = 2000)
model.fit(x_train, y_train)
pred = model.predict_proba(x_valid)
print(roc_auc_score(y_valid, pred[:,1]))

0.7904743813089192

In [74]:
model = RandomForestClassifier(n_estimators = 300)
model.fit(x_train, y_train)
pred = model.predict_proba(x_valid)
print(roc_auc_score(y_valid, pred[:,1]))

0.7956836798991807

In [75]:
test_id = df2['ID']

In [77]:
x_test = df2.drop('ID', axis = 1)
x_test = pd.get_dummies(x_test)

In [81]:
pred = model.predict_proba(x_test)

In [83]:
result = pd.DataFrame({
    'ID' : test_id,
    'Reached.on.Time_Y.N' : pred[:,1]
})

In [86]:
result.head()

     ID  Reached.on.Time_Y.N
0  8010             0.506667
1  8011             0.683333
2  8012             0.543333
3  8013             0.660000
4  8014             0.416667